[Unit]
Description=Webhooks
After=network-online.target

[Service]
WorkingDirectory=/ithkuil/
ExecStart=/usr/bin/webhook -ip 127.0.0.1 -port 9876 -hooks webhook.json -hotreload -verbose
Restart=on-failure

[Install]
WantedBy=multi-user.target
