/*                 *
 * General styling *
 *                 */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-size-adjust: 0.58;

  min-height: 87.5vh; /* mmm, optics */
  display: flex;
  place-items: center;
}

main {
  margin: auto;
  padding: 2vw;
  max-width: 96vw;
  width: max-content;
}

h1, h2, h3, h4 {
  font-family: Inter, sans-serif;
}

h1 { font-weight: 300; }
h2 { font-weight: 400; }
h3 { font-weight: 500; }
h4 { font-weight: 600; }

:lang(ithkuil) {
  color: hsl(0deg, 80%, 40%);
  font-family: Andika, sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: hsl(180deg, 80%, 40%);
}

a:not([href]) {
  color: inherit;
}

a[href]:hover, a[href]:focus {
  text-decoration: underline;
  color: hsl(180deg, 40%, 40%);
}

.notice {
  display: block;
  padding: 1em;
  margin: 1em 0;
  background-color: #eee;
  width: max-content;
  max-width: 100%;
}

/*                   *
 * Font declarations *
 *                   */

/* Andika */
@font-face { font-family: 'Andika'; src: url('/assets/fonts/andika/Andika-R.woff2') format('woff2'); font-weight: 400; font-style: normal; }

/* Garamond EB */
@font-face { font-family: 'Garamond'; src: url('/assets/fonts/garamond/EBGaramond12-Regular.woff') format('woff2'); font-weight: 400; font-style: normal; }

/* Inter */
@font-face { font-family: 'Inter'; src: url('/assets/fonts/inter/Inter-Light.woff2')    format('woff2'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/inter/Inter-Regular.woff2')  format('woff2'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/inter/Inter-Italic.woff2')   format('woff2'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/inter/Inter-Light.woff2')    format('woff2'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Inter'; src: url('/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'); font-weight: 600; font-style: normal; }
