<!doctype html>
<html lang="en">
  <head>
    <title>TNIL documentation archive</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/common.css">
  </head>
  <body>
    <header>
      <h1>Old documentation</h1>
    </header>

    <main>
      <p>
        You may download all the documents listed below
        <a href="all.tar.gz">in compressed form</a>.
      </p>
      <p>
        Thanks to Ilmen and Hactar for helping collect these documents.
      </p>
      <ul>
        %%%
      </ul>
    </main>
  </body>
</html>
