/*** Global theming (colors, fonts) ***/

/** Variables – light theme variants (default) **/

html {
  /* Regular text */
             --background-color: hsl(0deg, 0%, 100%);
              --body-text-color: hsl(0deg, 0%, 15%);
  /* Link coloring */
      --hyperlink-dormant-color: hsl(180deg, 80%, 40%);
  --hyperlink-highlighted-color: hsl(180deg, 40%, 40%);
  /* Regular notice/blockquote */
      --notice-background-color: hsl(0deg, 0%, 90%);
            --notice-text-color: hsl(0deg, 0%, 15%);
  /* Important/error-reporting notice */
   --important-background-color: hsl(0deg, 75%, 90%);
         --important-text-color: hsl(0deg, 75%, 25%);
  /* Ithkuil text coloring */
           --ithkuil-text-color: hsl(0deg, 80%, 40%);

  font-weight: 400;
}

h1 { font-weight: 300; }
h2 { font-weight: 400; }
h3 { font-weight: 500; }
h4 { font-weight: 600; }

a {
  font-weight: 600;
}

/** Variables – dark theme variants (if supported and asked for) **/

@media (prefers-color-scheme: dark) {
  html {
               --background-color: hsl(0deg, 0%, 0%);
                --body-text-color: hsl(0deg, 0%, 85%);
        --hyperlink-dormant-color: hsl(180deg, 40%, 60%);
    --hyperlink-highlighted-color: hsl(180deg, 80%, 60%);
        --notice-background-color: hsl(0deg, 0%, 10%);
              --notice-text-color: hsl(0deg, 0%, 85%);
     --important-background-color: hsl(0deg, 75%, 10%);
           --important-text-color: hsl(0deg, 75%, 75%);
             --ithkuil-text-color: hsl(0deg, 80%, 60%);
  }

  /* Thinner fonts to counteract the halo effect (−100 weight) */

  html {
    font-weight: 300;
  }

  h1 { font-weight: 200; }
  h2 { font-weight: 300; }
  h3 { font-weight: 400; }
  h4 { font-weight: 500; }

  a {
    font-weight: 500;
  }
}

/** Invariants **/

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--body-text-color);
}

::selection {
  background-color: var(--body-text-color);
  color: var(--background-color);
}

:lang(ithkuil) {
  color: var(--ithkuil-text-color);
  font-family: Andika, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.serif-ithkuil:lang(ithkuil), .serif-ithkuil :lang(ithkuil) {
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
}

a[href] {
  color: var(--hyperlink-dormant-color);
}

a[href]:hover, a[href]:focus {
  text-decoration: underline;
  color: var(--hyperlink-highlighted-color);
}

.notice {
  background-color: var(--notice-background-color);
  color: var(--notice-text-color);
}

.notice--important {
  background-color: var(--important-background-color);
  color: var(--important-text-color);
}

/*** Dimensions & alignment ***/

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

main, footer, header {
  margin: auto;
  padding: 2vw;
  max-width: 96vw;
  width: max-content;
}

main {
  flex-grow: 1;
}

footer {
  border-top: 1px solid;
  font-size: 75%;
}

.notice {
  display: block;
  padding: 1em;
  margin: 1em 0;
  width: max-content;
  max-width: 100%;
}

/** Accordion **/

/*
.accordion {}
*/

.accordion__container {
  position: relative;
}

.accordion__controls {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  place-items: center;
}

.accordion__controls::before {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  transform: rotate(90deg);
  background: currentColor;
}

.accordion__title {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  /* background: inherit; */
}

.accordion__button {
  height: 0;
  width: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

/*
.accordion__button:checked {}
*/

.accordion__button:checked ~ .accordion__contents {
  height: 0;
  overflow: hidden;
}

.accordion__button:checked ~ .accordion__controls::before {
  transform: rotate(0);
}

/*
.accordion__contents {}
*/

/*** Font declarations ***/

/* Andika */
@font-face { font-family: 'Andika';   src: url('/assets/fonts/andika/Andika-R.woff2')              format('woff2'); font-weight: 400; font-style: normal; }

/* Garamond EB */
@font-face { font-family: 'Garamond'; src: url('/assets/fonts/garamond/EBGaramond12-Regular.woff') format('woff');  font-weight: 400; font-style: normal; }

/* Inter */
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-ExtraLight.woff2')       format('woff2'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-ExtraLightItalic.woff2') format('woff2'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-Light.woff2')            format('woff2'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-LightItalic.woff2')      format('woff2'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-Regular.woff2')          format('woff2'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-Italic.woff2')           format('woff2'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-Medium.woff2')           format('woff2'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-MediumItalic.woff2')     format('woff2'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-SemiBold.woff2')         format('woff2'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Inter';    src: url('/assets/fonts/inter/Inter-SemiBoldItalic.woff2')   format('woff2'); font-weight: 600; font-style: italic; }

